<a href="https://colab.research.google.com/github/sugamkhadka40-rgb/Sugam-Khadka-CPSMA-3933-01/blob/main/Assignment_Lab_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignment LAB-0
### Name: Sugam Khadka
### Class: CPSMA 3933-01

#### My Favorite Function: max()  
I like the max() function because it quickly finds the largest value in a list, string, or set of numbers. Instead of writing long loops, I can just use max() to get the answer immediately. This is especially helpful when working with data.

In [ ]:
numbers = [12, 45, 3, 98, 23, 56, 77]

largestnumber = max(numbers)

print("The largest number is:", largestnumber)

### How I Got the Values

I made a list of the first 10 multiples of 5. I started with 5 and added 5 each time until I had 10 numbers: 5, 10, 15, 20, 25, 30, 35, 40, 45, and 50.

Then, I calculated the sum by adding all the numbers together. The minimum iss the smallest number in the list, the maximum is the largest, and the count is how many numbers are in the list.

In [ ]:
my_list = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

total = sum(my_list)
minimum = min(my_list)
maximum = max(my_list)
count = len(my_list)

print("My list:", my_list)
print("Sum:", total)
print("Min:", minimum)
print("Max:", maximum)
print("Count:", count)

My list: [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]
Sum: 275
Min: 5
Max: 50
Count: 10